body{
    background-image: url(images/camel.gif);
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:gray
}
p{ 
    text-align: justify;
}
